# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

*.log
npm-debug.log
.logs
logs
*.swp
run
*-run
.DS_Store
.tmp

#IntelliJ project files
.idea
*.iml
out
gen